# Python
__pycache__/
*.py[cod]
*.env
venv/

# Firebase Admin SDK credential
serviceAccountKey.json

# VSCode
.vscode/
firebase-service-account.json

# Android Studio / JetBrains IDE
.idea/
.gradle/
*.iml
buile/
*.apk
*.ap_